In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(font_scale=1.3)

In [2]:
os.listdir('../Data/ICBHI Processed Data')

['Filtered_Processed_Labelled_Data.csv',
 'Filtered_Processed_Unlabelled_Data.csv']

In [3]:
data = pd.read_csv('../Data/ICBHI Processed Data/Filtered_Processed_Labelled_Data.csv')

In [4]:
data

,Unnamed: 0,Ar,Subject ID,Al,Pl,Pr,Lr,Category
0,0,0.000795,104,0.000033,0.001107,1.877107e-07,-0.000647,Overweight
1,1,0.000903,104,0.000007,0.001305,3.126164e-06,-0.000778,Overweight
2,2,0.000914,104,-0.000038,0.001406,7.572315e-06,-0.000861,Overweight
3,3,0.000787,104,-0.000098,0.001361,1.339925e-05,-0.000864,Overweight
4,4,0.000488,104,-0.000169,0.001121,2.015440e-05,-0.000759,Overweight
...,...,...,...,...,...,...,...,...
19232054,19232054,0.190506,221,0.085495,-0.112571,2.240909e-01,-0.054869,Overweight
19232055,19232055,0.194844,221,0.085891,-0.112633,2.277366e-01,-0.056111,Overweight
19232056,19232056,0.193453,221,0.083907,-0.109273,2.252532e-01,-0.055844,Overweight
19232057,19232057,0.191564,221,0.081653,-0.105542,2.224249e-01,-0.055553,Overweight
19232058,19232058,0.203130,221,0.084393,-0.108929,2.345107e-01,-0.059018,Overweight

In [5]:
data = data.sample(frac=1).reset_index(drop=True)
#data = data.drop('Unnamed: 0', axis=1)
data = data.drop('Subject ID', axis=1)
data

,Unnamed: 0,Ar,Al,Pl,Pr,Lr,Category
0,7203365,0.000445,-0.015474,-0.038171,0.015776,-0.054027,Normal
1,14707507,-0.299858,-0.101723,0.003318,-0.092812,0.036027,Overweight
2,6320633,0.000430,0.603510,0.057058,0.060313,-0.055897,Overweight
3,14782481,-0.050697,0.081065,0.055668,-0.092279,0.102801,Overweight
4,4465319,0.051312,-0.079759,-0.003564,0.143478,-0.045425,Normal
...,...,...,...,...,...,...,...
19232054,11708166,0.000670,-0.270968,0.430565,0.173289,-0.060250,Overweight
19232055,1629996,0.258124,-0.012404,-0.039725,-0.013655,0.021007,Normal
19232056,9250591,-0.261671,0.070680,-0.089744,-0.028657,0.181722,Overweight
19232057,486593,-0.484700,0.627089,0.431895,-0.109691,-0.142339,Overweight
19232058,13182429,0.027074,0.096381,0.139790,0.010654,0.071761,Overweight

In [ ]:
fig, axes = plt.subplots(1,3, figsize=(15,6.2))
data[:100000].groupby('Category').boxplot(ax=axes, grid=True)
fig.suptitle('Distribution of respiratory auscultation data for the three categories of weights')
fig.savefig('Distribution.png', dpi=300)

In [ ]:
g=sns.pairplot(data.sample(frac=1).reset_index(drop=True)[:18081], hue='Category')
g.fig.set_size_inches(16,5)
g.fig.suptitle("Semi-processed respiratory auscultation data", y=1.08)
g.savefig('Semi-processed.png', dpi=200)

In [26]:
data.groupby('Category').count()

                   Ar        Al        Pl        Pr        Lr
Category
Normal        4410000   4410000   4410000   4410000   4410000
Overweight   13940059  13940059  13940059  13940059  13940059
Underweight    882000    882000    882000    882000    882000

In [11]:
normalStd = data.groupby('Category').get_group('Normal').reset_index(drop=True)[:882000].groupby(data.groupby('Category').get_group('Normal').reset_index(drop=True)[:882000].index // 100).std()
normalStd['Category'] = 'Normal'
normalStd

        Unnamed: 0        Ar        Al        Pl        Pr        Lr Category
0     5.511776e+06  0.175086  0.173887  0.237115  0.168267  0.176520   Normal
1     5.779402e+06  0.169796  0.223320  0.279305  0.184933  0.140117   Normal
2     6.025523e+06  0.175307  0.174335  0.298243  0.194652  0.230852   Normal
3     5.180125e+06  0.182334  0.239801  0.217512  0.175573  0.181280   Normal
4     5.808950e+06  0.177729  0.226589  0.276789  0.184671  0.174592   Normal
...            ...       ...       ...       ...       ...       ...      ...
8815  5.712409e+06  0.194778  0.198434  0.232868  0.187702  0.155105   Normal
8816  5.479106e+06  0.169370  0.230714  0.244425  0.239264  0.159244   Normal
8817  5.660770e+06  0.165210  0.175554  0.279668  0.166653  0.170565   Normal
8818  5.045039e+06  0.233775  0.172797  0.241278  0.155535  0.128773   Normal
8819  5.721529e+06  0.170570  0.216711  0.277927  0.139397  0.158009   Normal

[8820 rows x 7 columns]

In [12]:
overweightStd = data.groupby('Category').get_group('Overweight').reset_index(drop=True)[:882000].groupby(data.groupby('Category').get_group('Overweight').reset_index(drop=True)[:882000].index // 100).std()
overweightStd['Category'] = 'Overweight'
overweightStd

,Unnamed: 0,Ar,Al,Pl,Pr,Lr,Category
0,6.016654e+06,0.240701,0.239544,0.204765,0.244499,0.225283,Overweight
1,6.030426e+06,0.257680,0.253501,0.195553,0.183932,0.201575,Overweight
2,5.670086e+06,0.156180,0.214239,0.186498,0.201577,0.212040,Overweight
3,5.528429e+06,0.189993,0.223998,0.174594,0.200191,0.186670,Overweight
4,5.374943e+06,0.245459,0.242614,0.170831,0.186394,0.210195,Overweight
...,...,...,...,...,...,...,...
8815,5.760828e+06,0.281498,0.186079,0.228493,0.214504,0.223917,Overweight
8816,5.979339e+06,0.220896,0.231505,0.165133,0.182758,0.168853,Overweight
8817,6.022920e+06,0.255036,0.220846,0.195371,0.194990,0.183384,Overweight
8818,5.429089e+06,0.239456,0.268988,0.221639,0.183601,0.235878,Overweight
8819,4.860671e+06,0.244172,0.168955,0.191422,0.218116,0.217886,Overweight

In [13]:
underweightStd = data.groupby('Category').get_group('Underweight').reset_index(drop=True)[:882000].groupby(data.groupby('Category').get_group('Underweight').reset_index(drop=True)[:882000].index // 100).std()
underweightStd['Category'] = 'Underweight'
underweightStd

,Unnamed: 0,Ar,Al,Pl,Pr,Lr,Category
0,2.376271e+06,0.090308,0.199906,0.441754,0.369670,0.201111,Underweight
1,2.426783e+06,0.078309,0.251063,0.457463,0.347337,0.190743,Underweight
2,2.423554e+06,0.082502,0.224048,0.517818,0.320702,0.220951,Underweight
3,2.388196e+06,0.102046,0.213885,0.497606,0.346571,0.227587,Underweight
4,2.397405e+06,0.085548,0.205367,0.407945,0.340636,0.240291,Underweight
...,...,...,...,...,...,...,...
8815,2.418084e+06,0.093015,0.245146,0.428809,0.336156,0.218876,Underweight
8816,2.356395e+06,0.075394,0.236208,0.474017,0.309272,0.240366,Underweight
8817,2.413039e+06,0.083534,0.164522,0.397687,0.339468,0.219285,Underweight
8818,2.407308e+06,0.113514,0.216601,0.488100,0.302210,0.221955,Underweight
8819,2.420551e+06,0.088522,0.207726,0.421523,0.350957,0.220690,Underweight

In [17]:
stdCombined = pd.concat([normalStd,overweightStd,underweightStd], axis=0)
stdCombined = stdCombined.reset_index(drop=True)
stdCombined = stdCombined.drop('Unnamed: 0',axis=1)
stdCombined

             Ar        Al        Pl        Pr        Lr     Category
0      0.175086  0.173887  0.237115  0.168267  0.176520       Normal
1      0.169796  0.223320  0.279305  0.184933  0.140117       Normal
2      0.175307  0.174335  0.298243  0.194652  0.230852       Normal
3      0.182334  0.239801  0.217512  0.175573  0.181280       Normal
4      0.177729  0.226589  0.276789  0.184671  0.174592       Normal
...         ...       ...       ...       ...       ...          ...
26455  0.093015  0.245146  0.428809  0.336156  0.218876  Underweight
26456  0.075394  0.236208  0.474017  0.309272  0.240366  Underweight
26457  0.083534  0.164522  0.397687  0.339468  0.219285  Underweight
26458  0.113514  0.216601  0.488100  0.302210  0.221955  Underweight
26459  0.088522  0.207726  0.421523  0.350957  0.220690  Underweight

[26460 rows x 6 columns]

In [18]:
stdCombined.to_csv('../Data/ICBHI Processed Data/Classification_ready.csv')

In [ ]:
f=sns.pairplot(stdCombined, hue='Category')
f.fig.set_size_inches(16,5)
f.fig.suptitle("V/s\nProcessed respiratory auscultation data", y=1.12)
f.savefig('Processed.png', dpi=200)